/* 폰트적용 시작 */
@font-face {
    font-family: 'BMEuljiro10yearslater';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/BMEuljiro10yearslater.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff")
      format("woff");
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* font-family: "LotteMartDream", sans-serif; */
/* font-family: 'BMEULJIRO' */
html {
	font-family: "LotteMartDream", sans-serif;
}

.ft-bm {
	font-family: 'BMEULJIRO';
}
/* 폰트적용 끝 */

/* 노말라이즈 시작 */
body, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* 노말라이즈 끝 */

/* 라이브러리 */

/* 라이브러리 - 일반 시작 */

.padding-0-10 {
  padding-left:10px;
  padding-right:10px;
}

.block {
  display:block;
}

.flex {
  display:flex;
}

.flex-grow-1 {
  flex-grow:1;
}

.flex-ai-c {
  align-items:center;
}

.flex-jc-c {
  justify-content: center;
}

.flex-dir-c {
	flex-direction:column;
}

.height-100p {
  height:100%;
}

.hov-red:hover {color:red;}

.col-black {color:black;}
/* 라이브러리 - 일반 끝 */

/* 라이브러리 - 디버그 시작 */
.bd-red {
  border:2px solid red;
}

.bd-green {
  border:2px solid green;
}

.bd-blue {
  border:2px solid blue;
}

.bg-red {
  background-color:red;
}

.bg-green {
  background-color:green;
}

.bg-blue {
  background-color:blue;
}
/* 라이브러리 - 디버그 끝 */

/* 커스텀 시작 */
:root {
  --site-width:1200px;
}

@media ( min-width: 801px ) {
  .visible-sm-down {
    display:none !important;
  }
}

@media ( max-width: 800px ) {
  .visible-sm-up {
    display:none !important;
  }
}

.con {
  max-width:var(--site-width);
}

.con-min-width {
  min-width:320px;
}

.logo {margin-left:40px;}

header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	/* 스크롤 전 헤더 배경색 */
	background:rgba(0,0,0,0);
	z-index:1000;
	/* 메뉴 영역 세로 사이즈 */
	-webkit-transition:height 0.3s;
	-moz-transition:height 0.3s;
	transition:height 0.3s;
}
.header-btn {
	padding:25px 28px !important;
}
.header-area .main-header {
	padding:0px 120px;
}
@media only screen and (min-width:1200px) and (max-width:1600px) {
	.header-area .main-header {
			padding:0px 10px;
	}
}
@media only screen and (min-width:992px) and (max-width:1199px) {
	.header-area .main-header {
			padding:0px 10px;
	}
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.header-area .main-header {
			padding:22px 0px;
	}
}
@media only screen and (min-width:576px) and (max-width:767px) {
	.header-area .main-header {
			padding:22px 0px;
	}
}
@media (max-width:575px) {
	.header-area .main-header {
			padding:22px 0px;
	}
}
.header-area .main-header .menu-wrapper {
	display:flex;
	align-content:center;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:center;
}
.header-area .main-header .menu-wrapper .main-menu ul li {
	display:inline-block;
	position:relative;
	z-index:1;
}
.header-area .main-header .menu-wrapper .main-menu ul li a {
	font-size:16px;
	color:#141517;
	font-weight:600;
	padding:41px 21px;
	display:inline-block;
	text-transform:capitalize;
	display:block;
	-webkit-transition:all .3s ease-out 0s;
	-moz-transition:all .3s ease-out 0s;
	-ms-transition:all .3s ease-out 0s;
	-o-transition:all .3s ease-out 0s;
	transition:all .3s ease-out 0s;
	text-decoration:none;
}
@media only screen and (min-width:992px) and (max-width:1199px) {
	.header-area .main-header .menu-wrapper .main-menu ul li a {
			padding:41px 15px;
	}
}
.header-area .main-header .menu-wrapper .main-menu ul li:hover>a {
	color:#ff2020;
	text-decoration:underline;
}
.header-area .main-header .menu-wrapper .main-menu ul li.hot {
	position:relative;
}
.header-area .main-header .menu-wrapper .main-menu ul li.hot::before {
	position:absolute;
	content:"HOT";
	background:#ff003c;
	color:#fff;
	text-align:center;
	border-radius:8px;
	font-size:10px;
	top:19px;
	right:-13px;
	-webkit-transition:all .2s ease-out 0s;
	-moz-transition:all .2s ease-out 0s;
	-ms-transition:all .2s ease-out 0s;
	-o-transition:all .2s ease-out 0s;
	transition:all .2s ease-out 0s;
	box-shadow:0 2px 5px rgba(0,0,0,0.3);
	padding:3px 8px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:500;
}
.header-area .main-header .menu-wrapper .main-menu ul li:hover>ul.submenu {
	visibility:visible;
	opacity:1;
	top:100%;
}
.header-area .main-header .menu-wrapper .main-menu ul li:hover>ul.submenu::before {
	top:-8px;
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu {
	position:absolute;
	width:170px;
	background:#fff;
	left:0;
	top:90%;
	visibility:hidden;
	opacity:0;
	box-shadow:0 0 10px 3px rgba(0,0,0,0.05);
	padding:17px 0;
	border-top:3px solid #ff2020;
	border-radius:7px 7px 3px 3px;
	-webkit-transition:all .2s ease-out 0s;
	-moz-transition:all .2s ease-out 0s;
	-ms-transition:all .2s ease-out 0s;
	-o-transition:all .2s ease-out 0s;
	transition:all .2s ease-out 0s;
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li {
	margin-left:7px;
	display:block;
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li>a {
	padding:6px 10px !important;
	font-size:16px;
	color:#0b1c39;
	text-transform:capitalize;
	text-decoration:none;
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li>a:hover {
	color:#ff2020;
	background:none;
	text-decoration:underline;
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu::before {
	border-style:solid;
	border-width:0 6px 6px 6px;
	border-color:transparent transparent red transparent;
	content:"";
	top:-5px;
	left:13%;
	position:absolute;
	transition:.3s;
	z-index:-1;
	overflow:hidden;
	-webkit-transition:all .3s ease-out 0s;
	-moz-transition:all .3s ease-out 0s;
	-ms-transition:all .3s ease-out 0s;
	-o-transition:all .3s ease-out 0s;
	transition:all .3s ease-out 0s;
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.header-area .main-header .menu-wrapper .header-right {
			margin-right:82px;
	}
}
@media only screen and (min-width:576px) and (max-width:767px) {
	.header-area .main-header .menu-wrapper .header-right {
			margin-right:73px;
	}
}
@media (max-width:575px) {
	.header-area .main-header .menu-wrapper .header-right {
			position:relative;
			bottom:-73px;
			z-index:3;
			right:5px;
	}
}
.header-area .main-header .menu-wrapper .header-right ul {
	display:flex !important;
	justify-content:space-between;
}
.header-area .main-header .menu-wrapper .header-right .nav-search {
	display:inline-block;
}
.header-area .main-header .menu-wrapper .header-right span {
	color:#000000;
	font-size:16px;
	cursor:pointer;
	padding:31px 19px;
}
.header-area .main-header .menu-wrapper .header-right span:hover {
	color:#ff2020;
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.header-area .main-header .menu-wrapper .header-right span {
			padding:21px 19px;
	}
}
@media (max-width:575px) {
	.header-area .main-header .menu-wrapper .header-right span {
			padding:6px 9px;
	}
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.header-sticky.sticky-bar.sticky {
			padding:22px 0px;
	}
}
@media (max-width:575px) {
	.header-sticky.sticky-bar.sticky .header-right {
			display:none
	}
}
.mobile_menu {
	position:absolute;
	right:0px;
	width:100%;
	z-index:99;
}
.mobile_menu .slicknav_menu {
	background:transparent;
	margin-top:0px !important;
}
.mobile_menu .slicknav_menu .slicknav_btn {
	top:-25px;
}
.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
	background-color:#ff2020 !important;
}
.mobile_menu .slicknav_menu .slicknav_nav {
	margin-top:16px !important;
}
.mobile_menu .slicknav_menu .slicknav_nav a:hover {
	background:transparent;
	color:#ff2020;
}
.mobile_menu .slicknav_menu .slicknav_nav a {
	font-size:15px;
	padding:7px 10px;
}
.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
	padding:0 !important;
}
.search-model-box {
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:#000;
	z-index:99999;
}
.search-model-box .search-model-form {
	padding:0 15px;
}
.search-model-box .search-model-form input {
	width:500px;
	font-size:40px;
	border:none;
	border-bottom:2px solid #333;
	background:none;
	color:#999;
}
@media only screen and (min-width:576px) and (max-width:767px) {
	.search-model-box .search-model-form input {
			width:251px;
			font-size:26px;
	}
}
@media (max-width:575px) {
	.search-model-box .search-model-form input {
			width:251px;
			font-size:26px;
	}
}
.search-model-box .search-close-btn {
	position:absolute;
	width:50px;
	height:50px;
	background:#333;
	color:#fff;
	text-align:center;
	border-radius:50%;
	font-size:28px;
	line-height:28px;
	top:30px;
	cursor:pointer;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
}
li {
	list-style:none;
}
.header-right>ul>li>a>i {
	color:black;
}
.header-right>ul>li>div>a>i {
	color:black;
}
.header-right>ul>li:hover>div {
	color:red;
}
.header-right>ul>li:hover>a>i {
	color:red;
}
.main-header {
	border-bottom:2px solid silver;
}
.bg-red {
	background-color:red;
}
.toggle {
	display: none;
}
header.roll {
	/* 스크롤 후 헤더 사이즈(세로) */
	/* 스크롤 후 헤더 배경색 */
	background-color:#1C1C1C;
}
header.roll .header-area .main-header .menu-wrapper .main-menu ul li a {
	color:white;
}
header.roll .header-area .main-header .menu-wrapper .main-menu ul li>ul>li>a {
	color:black;
}
header.roll .header-right>ul>li {
	color:white;
}
header.roll .header-right>ul>li>div>a>i {
	color:white;
}
header.roll .header-right>ul>li>a>i {
	color:white;
}
header.roll .header-right>ul>li:hover>div {
	color:red;
}
header.roll .header-right>ul>li:hover>a>i {
	color: red;
}
header .header-area {
	/* 메뉴 영역 가로 사이즈 */
	margin:0 auto;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}
header .roll .header-area {
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition: all 0.3s;
}
/* RESPONSIVE */
@media screen and (max-width:768px) {
	.header-area {
		width:100%;
		padding:0 15px;
		box-sizing:border-box;
	}
	header {
		position:static;
		top:0;
		background:#fff;
		padding:20px 0 0;
		box-shadow:0 3px 3px rgba(0,0,0,.3);
	}
	.toggle {
		display:block;
		position:absolute;
		top:33px;
		right:30px;
		line-height:56px;
	}
	.toggle:hover {
		color:red;
	}
	header .header-area {
		padding:0;
	}
	.logo {
		margin-left:30px;
	}
	.header-area .main-header .menu-wrapper .main-menu ul li a {
		color:white;
	}
	.main-menu {
		background-color:black;
		margin-top:35px;
		width:100%;
	}
	.main-menu>nav>ul {
		display:flex;
		flex-direction:column;
	}
	.main-menu>nav>ul>li {
		left:-30px;
		border-bottom:1px solid white;
		line-height:1px;
	}
	.main-menu>nav>ul>li>ul {
		display:none;
	}
	.header-area .main-header .menu-wrapper .main-menu ul li.hot::before {
		display:none;
	}
	.clicked_menu {
		display:block;
		background-color: red;
	}
}

.body-content {margin-top:200px; min-height:100%;}

.section-main-text{border:10px solid; height:800px;}
.section-main-text__box{margin-left:40px;}
.section-main-text__head{font-size:25px;}
.section-main-text__nickname{font-size:23px; margin:0 5px 20px 0;}
.section-main-text__link {display:flex; flex-direction: column;}
.section-main-text > .section-main-text__box > .section-main-text__link > a {margin:20px 0 20px 0; font-size:20px; }
.section-main-text > .section-main-text__box > .section-main-text__link > a:hover {color:red;}

.pwWaringBox {width:100%; background:red;}
.pwWaringBox > .pwWaringBox-context {text-align:center;}

.con {margin:0 auto 0 auto;}

/* 타이틀 시작 */
.title-bar {
  margin-top:30px;
  margin-bottom:20px;
}
/* 타이틀 끝 */

/* 하단바 시작 */
.bottom-bar {
  margin-top: 10px;
  border-top:2px solid rgba(0,0,0,.3);
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: black;
  background:#FDFBFB;
}
/* 하단바 끝 */

/* 게시물 리스트 페이지박스 시작 */
.article-list-page-box {
  margin-top: -38px;
}

.article-list-page-box > .con > a {
  padding: 10px;
  border: 1px solid transparent;
  margin: 0 5px;
}

.article-list-page-box__page-btn--no {
  border-color: #dfdfdf !important;
}

.article-list-page-box__page-btn--no.color-red {
  border-color: #afafaf !important;
}

@media (max-width: 800px) {
  .article-list-page-box > .con > a {
    padding: 7px;
    border: 0 solid transparent;
    margin: 0;
  }
}
/* 게시물 리스트 페이지박스 끝 */

/* 게시물 버튼박스 시작 */
.article-btn-box {
  margin-top: 20px;
}
/* 게시물 리스트 버튼박스 끝 */

/* 게시물 리스트 게시물 개수 박스 시작 */
.article-list-total-count-box {
  margin-top: 30px;
}
/* 게시물 리스트 게시물 개수 박스 끝 */

/* 게시물 리스트 박스 시작 */

/* 게시물 리스트 박스 - PC 시작 */
.article-list-box {
  margin-top: 30px;
}

.article-list-box > .con > table {
  border-top: 3px solid black;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}

.article-list-box > .con > table > thead > tr > th {
  text-align: center;
}

.article-list-box > .con > table th,
.article-list-box > .con > table td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.article-list-box > .con > table tr {
  border-bottom: 1px solid #dfdfdf;
}

.article-list-box__title {
  display: block;
}

.article-list-box__title--pc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 게시물 리스트 박스 - PC 끝 */

/* 게시물 리스트 박스 - MOBILE 시작 */
@media (max-width: 800px) {
  .article-list-box > .con > table > thead,
  .article-list-box > .con > table > tbody > tr > td:not(.visible-sm-down) {
    display: none;
  }

  .article-list-box > .con > table > tbody > tr {
    width: 100%;
  }

  .article-list-box > .con > table > colgroup > col {
    width: auto;
  }

  .article-list-box > .con > table > colgroup > col:first-child {
    width: 100%;
  }

  .article-list-box__id--mobile {
    background-color: #3d94f6;
    color: white;
    font-weight: bold;
    padding: 0 7px;
    border-radius: 10px;
    align-self: flex-start;
  }

  .article-list-box__title--mobile {
    margin-left: 5px;
  }

  .article-list-box
    > .con
    > table
    > tbody
    > tr
    > td.visible-sm-down
    > .flex:nth-child(2) {
    margin-top: 10px;
  }

  .article-list-box
    > .con
    > table
    > tbody
    > tr
    > td.visible-sm-down
    > .flex:nth-child(2)
    > span:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .article-list-page-box {
  	margin-top: 30px;
  }
}

/* 게시물 리스트 박스 - MOBILE 끝 */

/* 게시물 리스트 박스 끝 */


/* 버튼 시작 */
.btn{
  letter-spacing: 5px;
  font-size:1rem;
  padding: 10px 15px 7px 15px;
  display:inline-flex;
  font-weight:bolder;
  outline:0;
  border:3px solid #3E5939;
  cursor:pointer;
  color: #3E5939;
  text-decoration:none;
  box-sizing:border-box;
  justify-content:center;
  text-align:center;
  background:white;
  font-family: "LotteMartDream", sans-serif;
}

.btn-success {
  background-color: #ffffff;
}

.btn-info {
  background-color: #ffffff;
}

.btn-danger {
  background-color: #ffffff;
}

.btn-warning {
  background-color: #ffcc10;
}

input, button {
	font-family: inherit;
}
/* 버튼 끝*/

/* 버튼랩 시작*/
@media(min-width: 801px){
  .btn-wrap{
    display:flex;
  }
  
  .btn-wrap > .btn+ .btn {
    margin-left:10px;
  }
}

@media(max-width: 800px){
  .btn {
    display:block;
    width:100%;
    border-radius:4px;
  }
  .btn-wrap>.btn+.btn{
    margin-top:10px;
  }
}
/* 버튼랩 끝*/

/* 폼박스 시작 */
.form-box > form {
  display: block;
  width: 100%;
}

.form-box > form > table {
  border-top: 3px solid black;
  width: 100%;
  border-collapse: collapse;
}

.form-box > form > table > tbody > tr > th {
  text-align: left;
}

.form-box > form > table > tbody > tr > th,
.form-box > form > table > tbody > tr > td {
  padding: 10px 0;
}

.form-box > form > table > tbody > tr > td > div {
  display: flex;
}

.form-box > form > table > tbody > tr:nth-child(2) > td:hover > a {
	color:red;
}
  
.form-box > form > table > tbody > tr:nth-child(4) > td:hover > a {
	color:red;
}

.form-box > form > table > tbody > tr > td > div > :only-child {
  width: 100%;
  box-sizing: border-box;
}

.form-box > form > table > tbody > tr > td > div > select {
  padding: 10px;
}

.form-box > form > table > tbody > tr > td > div > input[type="text"],
.form-box > form > table > tbody > tr > td > div > input[type="password"],
.form-box > form > table > tbody > tr > td > div > input[type="tel"],
.form-box > form > table > tbody > tr > td > div > input[type="email"] {
  flex: 1 0 0;
  padding: 10px;
}

.form-box > form > table > tbody > tr > td > div > input + .btn {
  margin-left: 10px;
}

@media (max-width: 800px) {
  .form-box > form > table > tbody > tr,
  .form-box > form > table > tbody > tr > th,
  .form-box > form > table > tbody > tr > td {
    display: block;
  }

  .form-box > form > table > tbody > tr {
    border-bottom: 1px solid #dfdfdf;
  }

  .form-box > form > table > tbody > tr > td > div {
    flex-wrap: wrap;
  }

  .form-box > form > table > tbody > tr > td > div > input + .btn {
    margin-left: 0;
    margin-top: 10px;
    display: block;
    width: 100%;
  }
}
/* 폼박스 끝 */


/* 상세내용박스 시작 */
.detail-box > .con > table {
  border-top: 3px solid black;
  width: 100%;
  border-collapse: collapse;
}

.detail-box > .con > table > tbody > tr > th {
  text-align: left;
}

.detail-box > .con > table > tbody > tr:nth-child(3) {
  border-bottom:3px solid;
}

.detail-box > .con > table > tbody > tr > th,
.detail-box > .con > table > tbody > tr > td {
  padding: 20px 0;
}

@media (max-width: 800px) {
  .detail-box > .con > table > tbody > tr,
  .detail-box > .con > table > tbody > tr > th,
  .detail-box > .con > table > tbody > tr > td {
    display: block;
  }

  .detail-box > .con > table > tbody > tr {
    border-bottom: 1px solid #dfdfdf;
  }
}
/* 상세내용 박스 끝 */

/* 토스트 ui viewer 시작 */
.toast-viewer-css {
    border-bottom:3px solid;
    min-height: 150px;
    padding: 0 15px 0 15px;
}
/* 토스트 ui viewer 끝 */
